.title {
	text-align: center;
	padding-bottom: 2rem;
}

.more-info-column {
	width: 40%;
}

.sort-icon {
	color: lightgrey;
}

.sortable-column-header {
	cursor: pointer;
}

.launch-table {
	border-style: solid;
	border-width: .1rem;
	border-radius: .5rem;
}
