<h3 class="title">
	{{ rocketName }} Launches
</h3>

<div class="row">

	<div class="col-sm-10 col-sm-offset-1">

		<div class="table-responsive">

			<table class="table table-hover launch-table">

				<thead>

					<tr>

						<th class="sortable-column-header" (click)="sort('flightNumber');">
							Flight Number
							<span class="glyphicon sort-icon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'flightNumber',
								'glyphicon-sort-by-attributes': currentSortProperty === 'flightNumber' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'flightNumber' && currentSortDirection === 'desc'
							}">
							</span>
						</th>

						<th class="sortable-column-header" (click)="sort('missionName');">
							Mission Name
							<span class="glyphicon sort-icon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'missionName',
								'glyphicon-sort-by-attributes': currentSortProperty === 'missionName' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'missionName' && currentSortDirection === 'desc'
							}">
							</span>
						</th>

						<th class="sortable-column-header" (click)="sort('launchYear');">
							Launch Year
							<span class="glyphicon sort-icon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'launchYear',
								'glyphicon-sort-by-attributes': currentSortProperty === 'launchYear' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'launchYear' && currentSortDirection === 'desc'
							}">
							</span>
						</th>

						<th class="sortable-column-header" (click)="sort('launchSite');">
							Launch Site
							<span class="glyphicon sort-icon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'launchSite',
								'glyphicon-sort-by-attributes': currentSortProperty === 'launchSite' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'launchSite' && currentSortDirection === 'desc'
							}">
							</span>
						</th>

						<th class="more-info-column">
							More Information
						</th>

					</tr>

				</thead>

				<tbody>

					<tr *ngFor="let launch of launches">

						<td>
							{{ launch.flightNumber }}
						</td>

						<td>
							{{ launch.missionName }}
						</td>

						<td>
							{{ launch.launchYear }}
						</td>

						<td>
							{{ launch.launchSite.name }}
						</td>

						<td>
							{{ launch.details }}
						</td>

					</tr>

					<ng-template *ngIf="launches.length === 0 && loadErrors.length > 0">
						<tr>
							<td>Unable to load launches</td>
						</tr>
						<tr *ngFor="let error of loadErrors">
							<td colspan="5">
								{{ error }}
							</td>
						</tr>
					</ng-template>

					<tr *ngIf="launches.length === 0">
						<td colspan="5">
							No Rockets to Display
						</td>
					</tr>

				</tbody>

			</table>

		</div>

	</div>

</div>

<a routerLink="/">Back to Rockets</a>
