<h3 class="title">
	SpaceX Rockets
</h3>

<div class="row">

	<div class="col-sm-10 col-sm-offset-1">

		<div class="table-responsive">

			<table class="table table-hover">

				<thead>

					<tr>
						<th></th>
						<th class="sortable-column-header" (click)="sort('name');">
							Name <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'name',
								'glyphicon-sort-by-attributes': currentSortProperty === 'name' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'name' && currentSortDirection === 'desc'
							}"></span>
						</th>
						<th class="sortable-column-header" (click)="sort('firstFlight');">
							First Flight <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'firstFlight',
								'glyphicon-sort-by-attributes': currentSortProperty === 'firstFlight' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'firstFlight' && currentSortDirection === 'desc'
							}"></span>
						</th>
						<th class="sortable-column-header" (click)="sort('country');">
							Country <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'country',
								'glyphicon-sort-by-attributes': currentSortProperty === 'country' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'country' && currentSortDirection === 'desc'
							}"></span>
						</th>
						<th class="sortable-column-header" (click)="sort('costPerLaunch');">
							Cost Per Launch <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'costPerLaunch',
								'glyphicon-sort-by-attributes': currentSortProperty === 'costPerLaunch' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'costPerLaunch' && currentSortDirection === 'desc'
							}"></span>
						</th>
						<th class="sortable-column-header" (click)="sort('active');">
							Active? <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'active',
								'glyphicon-sort-by-attributes': currentSortProperty === 'active' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'active' && currentSortDirection === 'desc'
							}"></span>
						</th>
						<th class="sortable-column-header" (click)="sort('successRate');">
							Success Rate <span class="glyphicon" [ngClass]="{
								'glyphicon-sort sort-icon': currentSortProperty !== 'successRate',
								'glyphicon-sort-by-attributes': currentSortProperty === 'successRate' && currentSortDirection === 'asc',
								'glyphicon-sort-by-attributes-alt': currentSortProperty === 'successRate' && currentSortDirection === 'desc'
							}"></span>
						</th>
					</tr>

				</thead>

				<tbody>

					<tr *ngFor="let rocket of rockets">

						<td>
							<img [src]="rocket.imageUrls[0]" alt="{{ rocket.rocketName }}" class="rocket-image" />
						</td>

						<td>
							{{ rocket.rocketName }}
						</td>

						<td>
							{{ formatDate(rocket.firstFlight) }}
						</td>

						<td>
							{{ rocket.country }}
						</td>

						<td>
							{{ rocket.costPerLaunch | currency }}
						</td>

						<td>
							{{ rocket.active ? 'Yes' : 'No' }}
						</td>
						<td>{{ rocket.successRatePercentage }}</td>

						<td>
							<a routerLink="/launches/{{ rocket.rocketId }}">View Launches</a>
						</td>

					</tr>

				</tbody>

			</table>

		</div>

	</div>

</div>
